case sensitivity in option names

I'm curious if option names are case-sensitive?  In [RFC2616, section 4.2 Message Headers](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2), the header names are deemed case-insensitive.  

I did not see case-sensitivity mentioned in [RFC7252](http://tools.ietf.org/html/rfc7252).  

Was this an oversight?  Is there some way to propose its inclusion, or is it too late for that?

linking relevant issue: mcollina/node-coap#71